<section id="records">
<%= form_for @workspace,:url=>"/refinery/admin/workspace/#{@workspace.id}",:method=>'put' do |f| -%>


  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :start_date -%>
    <%= f.date_select :start_date -%>
    Time:<%= f.time_select :start_date, :ignore_date=>true %>  
  </div>

  <div class='field'>
    <%= f.label :end_date -%>
    <%= f.date_select :end_date -%>
    Time:<%= f.time_select :end_date, :ignore_date=>true %>
  </div>

  <div class='field'>
    <%= f.label :category -%>
    <%#= f.text_field :category -%>
    <%= f.select :category, Refinery::Events::Event::CATEGORIES.keys, :include_blank => true  %>
  </div>

  <div class='field'>
    <%= f.label :sub_category -%>
    <%#= f.text_field :sub_category -%>
    <%= f.select :sub_category, Refinery::Events::Event::CATEGORIES.values.flatten, :include_blank => true  %>
  </div>

  <!--<div class='field'>
    <%= f.label :url -%>
    http://goevents.com/event/<%= f.text_field :url -%>
  </div>-->

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description -%>
  </div>

  <div class='field'>
    <label>Thumbnail</label>
    
    <% if @workspace.thumbnail.url == "/banners/original/missing.png" %>
      <%= f.file_field :thumbnail %>
    <% else %>      
      <%= image_tag @workspace.thumbnail.url(:medium) %>
      <%= f.file_field :thumbnail %>
    <% end %>
  </div>

  <div class='field'>
    <label>Banner</label>
    
    <% if @workspace.banner.url == "/banners/original/missing.png" %>
      <%= f.file_field :banner %>
    <% else %>      
      <%= image_tag @workspace.banner.url(:medium) %>
      <%= f.file_field :banner %>
    <% end %>
  </div>
  <%=submit_tag 'Save'%>

<% end -%>

</section>
<% unless params[:id].blank? %>
  <%#= render 'sidebar' %>
<% end %>

