<%= render :partial => 'nav' %>
<section id="records">
	<h3>Promoters</h3>
	<table border="1" cellpadding="5">
		<tr>
			<th>Emailid</th>
			<th>Company</th>
			<th>Mobile</th>
			<th>Actions</th>
		</tr>
		<% @event_organizers.each do |e| %>
			<tr>
				<td><%= e.email %></td>
				<td><%= e.partner.try(:company_name) %></td>
				<td><%= e.mobile %></td>
				<td>
	        <%= link_to 'Bank Details', "/refinery/admin/bank_details/#{e.id}/details" %> | <%= link_to 'Edit', "/refinery/admin/bank_details/#{e.id}/edit_client" %> | <%= link_to 'Deactivate', "/refinery/admin/bank_details/#{e.id}/deactivate_client" %>
				</td>
			</tr>
		<% end %>
	</table>
</section>
