<nav id="menu">
<%#raise ::Refinery::Plugins.active.in_menu.map(&:title).inspect%>
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    
    <% unless plugin.title == "Users" || "Event Organizers" %>
      <%= link_to plugin.title, refinery.url_for(plugin.url),
              :class => ("active" if plugin.highlighted?(params)),
              :id => "plugin_#{plugin.name}" %>
    <% else %>
      <%= link_to plugin.title, '/refinery/admin/users',
                :class => ("active" if plugin.highlighted?(params) && params[:action]=="bank_details"),
                :id => "plugin_#{plugin.name}" %>      
    <% end %>    
  <% end -%>
  <% if !(current_user.roles.map(&:title).include?('Superuser')) %>
    <% if params[:action] == "bank_details" %>
      <%= link_to 'Bank Detail', '/refinery/bank_details',
            :class => ("active"),
            :id => "plugin_bank_detail" %>
    <% else %>
      <%= link_to 'Bank Detail', '/refinery/bank_details',
            :class => (""),
            :id => "plugin_bank_detail" %>
      <%= link_to 'Reports', '/refinery/events/transaction_history', :class=>'',:id=>"reports" %>
    <% end %>
  <% else %>
    <%= link_to 'Event Organizers', '/refinery/admin/bank_details', :class=>'',:id=>"reports" %>
    <%= link_to 'Reports', '/refinery/events/transaction_history', :class=>'',:id=>"reports" %>
  <% end %>

  <!-- disabled the reorder button -->
  <% if false && ::Refinery::Plugins.active.in_menu.many? -%>
    <%= link_to refinery_icon_tag('arrow_switch.png'), "",
                :id => "menu_reorder",
                :title => t('.reorder_menu') %>

    <%= link_to refinery_icon_tag('tick.png'), "",
                :id => "menu_reorder_done",
                :title => t('.reorder_menu_done'),
                :style => "display: none;" %>
  <% end %>
  <!-- disabled the reorder button -->
  
</nav>