<%= form_for(@user, :as => "user", :url => '/profile', :html => { :method => :put }) do |f| %>
  <%#= devise_error_messages! %>
  <%#= f.hidden_field :reset_password_token %>

  <div><%= f.label :full_name, "Full Name" %>
  <%= f.text_field :full_name, :autofocus => true %></div>

  <div><%= f.label :age, "Age" %>
  <%= f.text_field :age %></div>

  <div><%= f.label :gender, "Gender" %>
  <%= f.select :gender,['Male','Female'] %></div>

  <div><%= f.label :designation, "Designation" %>
  <%= f.text_field :designation %></div>

  <div><%= f.label :company, "Company" %>
  <%= f.text_field :company %></div>

  <div><%= f.label :password, "New password" %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Update Profile" %></div>
<% end %>
<%= link_to 'Delete Account','/deactivate' %>
<%#= render "devise/shared/links" %>
