<hr>
<section>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One testing the length of the text
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
</section>
<section>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One testing the length of the text
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
  <div class="event_box">
    <%= image_tag 'sample_event1.jpg' %>
    <div class="event_name">
      Sample Event One
    </div>
    <a href="#" class="myButton">Book Now</a>
  </div>
</section>

<%@events.each do |event|%>
  <a href="/event/<%= event.id %>/show">
    <div class="event" style="float:left;">
      <div class="event-thumb">

        <%= image_tag event.photo.blank? ? '' : event.photo.url, :size=>"100x100" %>
      </div>
      <div class="event-details">
        <%= event.title %><br>
        <%= event.start_date.strftime('%d/%m/%Y %H:%M:%S') %>
      </div>
    </div>
  </a>
<%end%>