<%= stylesheet_link_tag 'jquery-ui.css' %>
<%= javascript_include_tag 'jquery-ui.js' %>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<style>
  #map_canvas {
    background-color: #CCC;
  }
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  </style>
  <script>
    

  </script>


<div class="span12">
  <span style="font-weight:bold;"><%= @event.title.capitalize %></span>
</div>
<% unless @event.banner_file_name.blank? %>
  <div class="span12">
    <div style="width:850px;border:1px solid;margin:5px 0px;">
      <%= image_tag @event.banner.url(:original), :size=>'860x300' %>
    </div>
  </div>
<% end %>
<div class="span12" style="margin-bottom:200px;">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Buy Tickets</a></li>    
      <% unless @event.venue.blank? %>
        <li><a href="#tabs-2" onclick="myMap(event)">Venue</a></li>    
      <% end %>

      <% unless @event.artists.blank? %>
        <li><a href="#tabs-3">Artists</a></li>    
      <% end %>
      
      <% unless @event.schedule.blank? %>
        <li><a href="#tabs-4">Schedule</a></li>    
      <% end %>
      
      <% unless @event.galleries.blank? %>
        <li><a href="#tabs-5">Gallery</a></li>    
      <% end %>
      
      <% unless @event.outlets.blank? %>
        <li><a href="#tabs-6">Outlets</a></li>    
      <% end %>
      
      <% unless @event.faqs.blank? %>
        <li><a href="#tabs-7">FAQs</a></li>    
      <% end %>
                  
      <% unless @event.terms_conditions.blank? %>
        <li><a href="#tabs-8">Terms and Conditions</a></li>    
      <% end %>

      <% unless @event.parking_info.blank? %>
        <li><a href="#tabs-9">Parking Info</a></li>
      <% end %>

    </ul>
    <div id="tabs-1">
      <h2>Buy Tickets</h2>
      <p><%= form_for @event,:url => "/event/#{@event.id}/registration_step1", :method=>"post" do %>
          <% if @event.censor_warning.blank? %>
          <% else %>
            <%= "=> " + @event.censor_warning %><br>
          <% end %>
          <%= @event.print_tickets ? "=> Please carry a printed ticket" : "=> Email confirmation is sufficient, Kindly avoid printing" %>            
          <table width="100%">
            <tr>
              <th>Ticket Type</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Cost</th>
            </tr>
            <%@event.tickets.each do |t|%>
              <tr class="ticket-row">
                <td><%= t.ticket_name %></td>
                <td>
                  <span id="dprice"><%= t.discounted_price %></span>(<span id="oprice" style="text-decoration:line-through;"><%=t.original_price%></span>)
                  <%= hidden_field_tag 'tax_percent', t.is_service_tax ? t.service_tax_percent : 0 %>
                </td>
                <td><%= select 'ticket', t.id, 0..9, {} ,{:style=>"width:60px;",:id=>'no_of_tickets',:onchange=>'calculate_total_new(this);'} %></td>
                <td><div id="total">0</div></td>
              </tr>
            <%end%>
          </table>
          <%= hidden_field 'registration', 'no_of_tickets' %>
          <%= hidden_field 'registration', 'total' %>
          <%= hidden_field 'registration', 'discount' %>
          <%= hidden_field 'registration', 'sales_tax' %>
          <%= hidden_field 'registration', 'state', :value => 'cart' %>
          
          <section style="border-top: 1px solid rgb(243, 215, 215);border-bottom: 1px solid rgb(243, 215, 215);">
            <div style="float:right;clear:both;padding:10px;">Purchase Total(INR): <span id='total_display'> 0.0</span> </div>
            <div style="float:right;padding:10px;">Service Tax :<span id='tax_display'> 0.0</span> </div>
          </section>
          <br>
          <div style="float:right;clear:both;"><%= submit_tag 'Buy'%></div>      
        <%end%>
      </p>
    </div>
    
    <% unless @event.venue.blank? %>
      <div id="tabs-2">
        <h3>Venue</h3>
        <div >
          <p>
            <%= @event.venue.venue %><br>
            <%= @event.venue.locality %><br>
            <%= @event.venue.city %> <br>
            <%= @event.venue.state %> <br>
            <%= @event.venue.country %> <br>
            <%= @event.venue.pincode %>
            <%= hidden_field_tag 'latitude', @event.venue.latitude , :id => 'latitude' %>
            <%= hidden_field_tag 'longitude', @event.venue.longitude, :id => 'longitude' %>
            <%= hidden_field_tag 'markertitle', @event.venue.title, :id => 'markertitle' %>
          </p>
        </div>
        <div id="map_canvas" style="widht:500px;height:500px;"></div>
      </div>
    <% end %>


    <% unless @event.artists.blank? %>
      <div id="tabs-3">
        <h3>Artist Lineup</h3>
        <div >
          <p>
            <% @event.artists.each do |a| %>
              <div class="artist row" style="height:120px;">
                <div class="aimage" style="float:left;width=150px;"><%= image_tag a.artist.url(:thumb) %></div>
                <div class="adescription" style="float:left;"><%= a.description %></div>
              </div>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <% unless @event.schedule.blank? %>
      <div id="tabs-4">
        <h3>Schedule</h3>
        <div >
          <p><%= @event.schedule %></p>
        </div>
      </div>
    <% end %>


    <% unless @event.galleries.blank? %>
      <div id="tabs-5">
        <h3>Gallery</h3>
        <div >
          <p>
            <div  class="jcarousel-wrapper">
              <div id="event_gallery" class="jcarousel" style="width:600px !important;height:265px !important;">
                <ul>
                  <% @event.galleries.each do |g| %>
                    <li><%=  image_tag g.gimage.url(:original), :size=>'590x400' %></li>
                  <% end %>
                </ul>
              </div> 
              <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
              <a href="#" class="jcarousel-control-next">&rsaquo;</a>              
              <p class="jcarousel-pagination"></p>
            </div> 
          </p>
        </div>
      </div>
    <% end %>


    <% unless @event.outlets.blank? %>
      <div id="tabs-6">
        <h3>Outlets</h3>
        <div >
          <p>
            <table border = "1">
              <tr>
                <td>Outlet</td>
                <td>Address</td>
                <td>Timings</td>
              </tr>
              <% @event.outlets.each do |outlet| %>
                <tr>
                  <td><%= outlet.outlet %></td>
                  <td><%= outlet.address %></td>
                  <td><%= outlet.timing %></td>
                </tr>
              <% end %>
            </table>
          </p>
        </div>
      </div>
    <% end %>

    <% unless @event.faqs.blank? %>
      <div id="tabs-7">
        <h3>Faqs</h3>
        <div>
          <p>
            <%# count = 1 %>
            <% @event.faqs.each do |faq| %>
              <%= faq.question %><br>
              <%= faq.answer %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <% unless @event.terms_conditions.blank? %>
      <div id="tabs-8">
        <h3>Terms & Conditions</h3>
        <div >
          <p><%= @event.terms_conditions %></p>
        </div>
      </div>
    <% end %>
    
    <% unless @event.parking_info.blank? %>
      <div id="tabs-9">
        <h3>Parking Info</h3>
        <div >
          <p><%= @event.parking_info %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>


<!--
<div class="span8">
<%= form_for @event,:url => "/event/#{@event.id}/registration_step1", :method=>"post" do %>
  <table width="100%">
    <tr>
      <td>Ticket Type</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Total</td>
    </tr>
    <%@event.tickets.each do |t|%>
      <tr>
        <td><%= t.ticket_name %></td>
        <td><%= t.discounted_price %>(<span style="text-decoration:line-through;"><%=t.original_price%></span>)</td>
        <td><%= select 'ticket',t.id,1..9%></td>
        <td><div id="total">0</div></td>
      </tr>
    <%end%>
  </table>
  <div style="float:right;">Purchase Total(INR):<%=%></div><br>
  <div style="float:right;"><%= submit_tag 'save'%></div>
</div>
<%end%>
<div class="container">
  <div class="span4">
    <div style="text-align:center;">Event Details/ID:<%= @event.id %></div>
    <div>
  </div>
</div>-->

