<style type="text/css">
  @media print {
    .main-menu{
      display: none;
    }
    #footer-div{
      display: none;
    }
  }
</style>
<div>
	<h3>Registration Details</h3>
  <div style="float:right;margin-top:70px;">
    <%= link_to 'Print','#',:onclick=>'email();' %> <br>
    <%= link_to 'Resend-Email','#',:onclick=>'window.print();' %>
  </div>
</div>
<% if @registration.event.master_details_only %>
	<div style="float:left;">
		<%= image_tag @registration.event.photo.try(:url) %>
	</div>
	<div style="margin-left:200px;">
		<table>		
			<tr>
				<td><b>Event : </b><%= @registration.event.title %></td>
	    	</tr>
		    <tr>
		      	<td><b>Date : </b><%= @registration.event.start_date.strftime('%d/%m/%Y') %> <b> Time : </b><%= @registration.event.start_date.strftime('%H:%M') %></td>
		    </tr>
		    <tr>
		      	<td><b>Venue : </b><%= @registration.event.venue.venue + ",Bangalore,Karnataka." %>
			</tr>
			<tr>
			    <td><b>Ticket : </b><%= Refinery::Events::Ticket.find(@registration.attendees.collect(&:ticket_id)).collect(&:ticket_name).join(',') %> | Total No of Tickets: <%= @registration.no_of_tickets %></td>
			</tr>
			<tr>
				<td><b>Name: </b><%= @registration.attendees.first.attendee_details.where(:field_id=>@registration.event.form.form_fields.where(:field_name=>'Full Name').first.id).first.value %>
				</td>
			</tr>
			<tr>
				<td><b>Email: </b><%= @registration.attendees.first.attendee_details.where(:field_id=>@registration.event.form.form_fields.where(:field_name=>'Email Id').first.id).first.value %>
				</td>			
				<td>| <b>Mobile: </b><%= @registration.attendees.first.attendee_details.where(:field_id=>@registration.event.form.form_fields.where(:field_name=>'Mobile Number').first.id).first.value %>	
				</td>
			</tr>
			<tr>
				<td>Address: <%= @registration.attendees.first.attendee_details.where(:field_id=>@registration.event.form.form_fields.where(:field_name=>'Address').first.try(:id)).first.try(:value) %>
				</td>
			</tr>
		</table>
	</div>
<% else %>
	<table>
		<tr>
			<td>Ticket Name</td>
			<td>Person Name</td>
		</tr>
		<% @registration.attendees.each do |att| %>
			<tr>
				<td><%= att.ticket.ticket_name %></td>
				<td><%= att.attendee_details.first.value %></td>
			</tr>
		<% end %>
	</table>
<% end %>
