<%= render 'topbar' %>
<section id="records">
  <table width="100%" border="1"  style="border:solid 1px #CCCCCC;" id="OrganizaerTable">
    <tr>
      <td>#</td>
      <td>Restaurant Image</td>
      <td>Restaurant Address</td>
    </tr>
    <% count = 1 %>
    <%@restaurants.each do |t|%>
      <tr>
        <td><%= count %></td>
        <td><%= image_tag t.restaurant_image.url(:thumb) %></td>
        <td><%= t.name %><br><%= t.address_line1 %><br><%= t.address_line2 %><br><%= t.phone %><br><%= t.distance %></td>
        
        <td><%= link_to 'Edit',"/refinery/events/#{params[:event_id]}/restaurants/#{t.id}/edit" %>|<%= link_to 'Delete', "/refinery/events/#{params[:event_id]}/restaurants/#{t.id}", :method => :delete %></td>
      </tr>
    <%end%>
  </table>
</section>
<%= render '/refinery/events/admin/events/sidebar' %>