<%= render 'topbar' %>
<section id="records">
<%= form_for @artist, :url => "/refinery/events/#{params[:event_id]}/artists", :multipart=> true, :method => :post do |f| -%>

    <div class="field">
      <label for="artist_question">Question</label>
      <%= image_tag @artist.artist.url(:thumb) %>
      <%= f.file_field :artist %>
    </div>
    <div class="field">
      <label for="faq_description">Answer</label>
      <%= text_area 'artist', 'description', :value => @artist.description %>
    </div>
    
    
    <div class="form-actions" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
      <div class="form-actions-left">
        <input class="wymupdate button" id="submit_button" type="submit" value="Save" style="border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
      </div>
    </div>

<% end -%>
</section>
<%= render '/refinery/events/admin/events/sidebar' %>