<h2>Create Profile</h2>
<p>Welcome on-board GoEvents, your journey towards endless entertainment inside and outside your office starts here.</p>

<p>To make your life simpler, we've already created a GoEvents account for you. All you have to do is set an account password here and turn it on. </p>

<p>If you have any questions, please click <a href="/faqs">here</a> . </p>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  <%= f.hidden_field :partner_id, :value => Invite.where(:email=>resource.email).try(:first).try(:partner_id) %>
  
  <p><%= f.label :full_name %><%= f.text_field :full_name %></p>

  <p><%= f.label :age %><%= f.text_field :age %></p>

  <p><%= f.label :gender %><%= f.select :gender, ['Male','Female'] %></p>
  
  <p><%= f.label :company %><%= f.text_field :company %></p>
  
  <p><%= f.label :designation %><%= f.text_field :designation %></p>

  <p><%= f.label :password %><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t("devise.invitations.edit.submit_button") %></p>
<% end %>
