<section id="records">
<%= render 'top_sub_menu' %>
<%= form_tag '/refinery/admin/users/import_user', multipart: true do -%>
  <label for="email">Email</label> <%= text_field_tag "email" %>
  <%= submit_tag %>
<% end -%>
<table>
	<tr>
		<td>#</td>
		<td>Email</td>
		<td>Actions</td>		
	</tr>
	<% count = 1 %>
	<% @imported_users.each do |user| %>		
		<tr>
			<td><%= count %></td>
			<td><%= user.email %></td>
      <td><%= link_to 'Delete', "/refinery/admin/users/destroy_imported_user?invite_id=#{user.id}"%></td>
			<% count = count + 1 %>
		</tr>
	<% end %>
</table>
</section>
<%= render 'actions' %>