<section id="records">
<%= render 'top_sub_menu' %>
<table>
	<tr>
		<td>#</td>
		<td>Email</td>
		<td>Actions</td>		
	</tr>
	<% count = 1 %>
	<% @iusers.each do |user| %>		
		<tr>
			<td><%= count %></td>
			<td><%= user.email %></td>
			<td> <%= link_to 'Activate', "/refinery/admin/users/#{user.id}/activate_user" %></td>
			<% count = count + 1 %>
		</tr>
	<% end %>
</table>
</section>
<%= render 'actions' %>