<h3>Upload New Users</h3>
<section id="records">
<%= form_tag '/refinery/admin/users/upload_users', multipart: true do -%>
  	<div class="field">
		<label for="file">File to Upload</label> 
	    <%= file_field_tag "file" %>
	</div>
	<div class="field">
		<label for="partner_id">Partner</label> 
	    <%= select "partner","id",Refinery::Partner.all.collect{|e| [e.company_name,e.id]},:include_blank=>true %>
	</div>
  <%= submit_tag %>
<% end -%>
</section>
<%= render 'actions' %>