<!DOCTYPE html>
<html>
<head>
  <title>Goevent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.bxslider", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.bxslider.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top main-menu">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" id="logo" href="/"><b>Goevents</b></a>

        <div class="login_status" style="float:right;margin-top:30px;">
          
          
          <% if is_admin? %>
            <%= link_to 'Admin', '/refinery' %> |
          <% end %>
          
          <% if is_event_admin? %>
            <%= link_to 'Admin', '/refinery' %> |
          <% end %>
          <%= link_to "Cart("+current_user.registrations.where(:state=>'cart').count.to_s+")", "/event/cart" %> |
          <% if user_signed_in? %>
            <%= link_to current_user.email, '/profile' %> | 
            <%= link_to 'Logout', '/users/sign_out', :method => :delete %>
          <% else %>
            <%= link_to 'SignIn', '/users/sign_in' %> | <%#= link_to 'SignUp', new_user_registration_path %>
          <% end %>
        </div>

        <div class="nav-collapse collapse"></div>
      </div>
    </div>
  </div>
  <hr>
  
  <div class="container" id="bodyc">
    
    <div class="flash_container">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>

    <div>
      <!--<div style="float:left;"><%= text_field 'search','field', :style=>'width:400px;' %><%= submit_tag 'Search'%></div>-->
      <div style="float:right;">
        <%= link_to 'Booking History', '/event/booking_history' %> | 
        <%#= link_to 'Print Tickets', '#' %>
        <%= link_to 'Support', '/event/support' %>
      </div>
    </div>
    
    <%= yield %>
  </div>
  <div id="footer-div">
    <div class="container">
        <a href="/about-us"> About Us </a>
        <a href="/faqs"> FAQs |</a>
        <a href="/purchase-policy"> Purchase Policy |</a>
        <a href="/privacy-policy"> Privacy Policy |</a>
        <a href="/contact-us"> Contact Us |</a>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      setTimeout(function()
        {
          $('.flash_container').text('');
        }, 3000);

        $('.slider2').bxSlider({
          slideWidth: 930,
          minSlides: 1,
          maxSlides: 1
        });
      /*$('.jcarousel').jcarousel({
            animation: 'slow',
            transitions: true,
            wrap: 'circular',
            center: true
          }).jcarouselAutoscroll({
        interval: 3000,
        target: '+=1',
        autostart: true
      });*/
    }); // end of ready();
  </script>
</body>
</html>
