<!DOCTYPE html>
<html>
<head>
  <title>Goevent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top main-menu">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" id="logo" href="/"><b>Goevents</b></a>

        <div class="login_status" style="float:right;margin-top:20px;">
          
          <% if is_admin? %>
            <%= link_to 'Admin', '/refinery' %> |
          <% end %>
          
          <% if is_event_admin? %>
            <%= link_to 'Admin', '/refinery' %> |
          <% end %>

          <% if user_signed_in? %>
            <%= current_user.email %> | 
            <%= link_to 'Logout', '/users/sign_out', :method => :delete %>
          <% else %>
            <%= link_to 'SignIn', '/users/sign_in' %> | <%#= link_to 'SignUp', new_user_registration_path %>
          <% end %>
        </div>

        <div class="nav-collapse collapse"></div>
      </div>
    </div>
  </div>
  <hr>
  
  <div class="container" id="bodyc">
    <div>
      <!--<div style="float:left;"><%= text_field 'search','field', :style=>'width:400px;' %><%= submit_tag 'Search'%></div>-->
      <div style="float:right;">
        <%= link_to 'Booking History', '/event/booking_history' %> | 
        <%#= link_to 'Print Tickets', '#' %>
        <%= link_to 'Support', '/event/support' %>
      </div>
    </div>

    <%= yield %>
  </div>
  <div id="footer-div">
    <div class="container">
      <a href="/about-us"> About Us </a>
      <a href="/terms-conditions"> Terms & conditions | </a>
      <a href="/disclaimers"> Disclaimers |</a>
      <a href="/contact-us"> Contact Us |</a>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('.jcarousel').jcarousel({
            animation: 'slow',
            transitions: true,
            wrap: 'circular',
            center: true
          }).jcarouselAutoscroll({
        interval: 3000,
        target: '+=1',
        autostart: true
      });
    }); // end of ready();
  </script>
</body>
</html>