<!DOCTYPE html>
<html>
<head>
  <title>Goevent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login_status" style="float:right;">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to 'Logout', 'users/sign_out', :method => :delete %>
    <% else %>
      <%= link_to 'SignIn', 'users/sign_in' %> | <%= link_to 'SignUp', new_user_registration_path %>
    <% end %>
  </div>
  <%= yield %>

</body>
</html>
