<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Goevent</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top main-menu">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" id="logo" href="/"><b>Goevents</b></a>
          <a href="/users/sign_in" style="float:right;margin-top:10px"><%= image_tag 'sign-button-hover.gif'%></a>
          <div class="nav-collapse collapse"></div>
        </div>
      </div>
    </div>

    <div id="main-body" class="row-fluid">
      <div class="container">
        <hr>
        <div class="row-fluid">
          <div class="span4">
            <%= yield %>
          </div>
          <div class="span8 ofvis ml0 splash-banner-holder">
            <div id="gallery">
              <img data-src="/assets/banner1.jpg" />
              <img data-src="/assets/banner2.jpg" />
              <img data-src="/assets/banner3.jpg" />
              <img data-src="/assets/banner4.jpg" />
            </div> <!-- .gallery -->
          </div>
        </div>
        <hr>
      </div>
    </div>
    

    <div class="row-fluid" >
      <div class="container">

      </div>
    </div>

    <script>

        $(document).ready(function() {
          var p = $("#gallery").portfolio({ 
            enableKeyboardNavigation: true,
            loop: true,
            easingMethod: 'easeOutQuint',
            height: '300px',
            width: '100%',
            lightbox: true,
            showArrows: true          
          });
            p.init();
        }); // end of ready();

    </script>
  </body>
</html>
