<!DOCTYPE html>
<html>
  <head>
    <title>Goevent</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.js" %>    
    <%= javascript_include_tag "jquery.jcarousel.min" %>
    <%= javascript_include_tag "jcarousel.basic" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top main-menu">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" id="logo" href="/"><b>Goevents</b></a>
          <a href="/users/sign_in" style="float:right;margin-top:10px"><%= image_tag 'sign-button-hover.gif'%></a>
          <div class="nav-collapse collapse"></div>
        </div>
      </div>
    </div>

    <div id="main-body" class="row-fluid">
      <div class="container">
        <hr>
        <div class="row-fluid">
          <div class="span4">
            <%= yield %>
          </div>
          <div class="span8 jcarousel-wrapper " style="height:260px !important;" >
            <div id="gallery" class="jcarousel">
              <ul>
                <% Refinery::Events::Event.where( :publish_banner => 1 ).each do |e| %>
                  <li><%= image_tag e.banner.url(:original), :size => '600x400' %></li>
                <% end %>                
              </ul>
            </div> <!-- .gallery -->

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
                <p class="jcarousel-pagination">
                    
                </p>
          </div>
        </div>
        <hr>
      </div>
    </div>
    

    <div id="footer-div">
      <div class="container">
        <a href="/about-us"> About Us </a>
        <a href="/terms-conditions"> Terms & conditions | </a>
        <a href="/disclaimers"> Disclaimers |</a>
        <a href="/contact-us"> Contact Us |</a>
      </div>
    </div>


    <script>
      $(document).ready(function() {
          /*var p = $("#gallery").portfolio({ 
            enableKeyboardNavigation: true,
            loop: true,
            easingMethod: 'easeOutQuint',
            height: '300px',
            width: '100%',
            lightbox: true,
            showArrows: true          
          });
            p.init();*/
        $('.jcarousel').jcarousel({
          animation: 'slow',
          transitions: true,
          wrap: 'circular'
        }).jcarouselAutoscroll({
          interval: 3000,
          target: '+=1',
          autostart: true
        });
      }); // end of ready();
    </script>
  </body>
</html>
